<div class="container">
	<%= render "places/card", place: @place %>


	<div class="card-columns py-3">
		<% if current_user.present? %>
      <% if current_user.id = @place.user.id %>
				<div class="card">
					<div class="card-header">Agregar nuevo plato</div>
					<div class="card-body">
						<p>Agrega los platos que ofreces en tu restaurante para atraer más clientes.</p>
						<%= link_to '<i class="fa fa-plus"></i> Agregar un plato'.html_safe, new_place_plate_path(@place), class: "btn btn-primary" %>
					</div>
				</div>
			<% end %>
		<% end %>
		<% @place.plates.each do |plate| %>
				<%= render "plates/card", plate: plate %>
		<% end %>

	</div>
</div>
