/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_self
 *= require trumbowyg/trumbowyg
 */


$blue:    #007bff !default;
$indigo:  #6610f2 !default;
$purple:  #6f42c1 !default;
$pink:    #e83e8c !default;
$red:     #dc3545 !default;
$orange:  #fd7e14 !default;
$yellow:  #ffc107 !default;
$green:   #28a745 !default;
$teal:    #20c997 !default;
$cyan:    #17a2b8 !default;

@import "./bootstrap/bootstrap";
@import "./font-awesome.min";
@import "./bootstrap-tagsinput";
@import "./jquery.fancybox.min";
@import "./slick";
@import "./slick-theme";

/*@import "./animate";
@import "./jquery.fancybox.min";*/

/* MIXINS */
@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}
@mixin grid-colums($count, $gap:3) {
	-webkit-column-count: $count;
	   -moz-column-count: $count;
			column-count: $count;
	-webkit-column-gap: $gap px;
	   -moz-column-gap: $gap px;
			column-gap: $gap px;
}
@mixin colum-break() {
	-webkit-column-break-inside: avoid;
	          page-break-inside: avoid;
	               break-inside: avoid;
}
@mixin transition($speed:0.5s) {
	-webkit-transition: all $speed ease;
	   -moz-transition: all $speed ease;
	     -o-transition: all $speed ease;
}
$screen-sm-min: 768px;
$screen-xs-max: ($screen-sm-min - 1);
$screen-md-min: 992px;
$screen-sm-max: ($screen-md-min - 1);
$screen-lg-min: 1200px;
$screen-md-max: ($screen-lg-min - 1);

/*
@media (max-width: $screen-xs-max) { ... }
@media (min-width: $screen-sm-min) { ... }
@media (max-width: $screen-sm-max) { ... }
@media (min-width: $screen-md-min) { ... }
@media (max-width: $screen-md-max) { ... }
@media (min-width: $screen-lg-min) { ... }
*/
@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900');
@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,500,600,700,800');

body {
	background-image: url(/img/bg.jpg);
	font-family: 'Raleway', sans-serif;
}
h1, h2, h3, h4, h5 {
	font-family: 'Lato', sans-serif;
}
.columns2 {
  @include grid-colums(2);
}
.columns2 .card {
  @include colum-break();
}
