<div class="container">
  <%= render "card", place: @place %>
    <div class="slicker py-3">
      <% @place.plates.each do |plate| %>
        <div class="px-2">
  				<%= render "plates/card", plate: plate %>
        </div>
  		<% end %>
    </div>
</div>
