<div class="container">
  <%= render "places/card", place: @place %>
  <div class="row py-3">
    <div class="col-sm-8">
      <div class="columns2">
        <% @place.plates.each do |plate| %>
    				<%= render "plates/cardmini", plate: plate %>
    		<% end %>
      </div>
    </div>
    <div class="col-sm-4">
      
    </div>
  </div>

</div>
